*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.home-page{
  padding: 20px 100px 20px 100px;
  background-color: aliceblue;
  width: 100%;
  height: auto;
}
/* navabar-section css */
.nav-border{
  border: 1px solid rgb(218, 216, 216);
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}
.logo-size{
  width: 200px;
  font-weight: 600;
  cursor: pointer;
}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #6f6a6a;
  padding: 10px 10px; 
}
.icon{
  font-size: 22px;
}
.nav-container{
  display: flex;
 align-items: center;
 justify-content: space-between;
  flex-direction: row;  gap: 20px;
}
.show-active{
  border-radius: 2px;
  padding:  10px 10px 10px 10px;
  /* background: #e1dede; */
}
.nav:hover{
  border-radius: 2px;
  background: #e1dede;
  transition: 0.6s ease-in-out;
  transform: translateY(-3px);
}
.lets-talk{
  padding: 15px 25px 15px 25px;
  font-size: 16px;
  background-color:  rgb(14, 14, 48);
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px ;
} 
.hamburger-menu-bar{
  font-size: 30px;
  color: rgb(14, 14, 48);
  cursor: pointer;
  display: none;
}
/* hero -section */
.hero-section{
  display: flex;
  justify-content: start;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
}
.profile-border{
  border: 1px solid rgb(218, 216, 216);
  width: 400px;
  height: auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.detail-border{
  width: 100%; 
  height: auto;
  border-radius: 5px; 
  display: flex;
  align-items:  'center';
  justify-content: start;
  gap: 20px;
}
/* profile */
.profile-logo-size{
  width: 260px;
  margin-left: 10px;
}
.img-container{
  height: auto;
}
.img-logo-size{
  padding: 50px 30px 50px 30px;
  width: 300px ;
}
.profile-img-upper{
  width: 350px;
  height: 300px;
background-color: rgb(239, 235, 235) ;
border-radius: 5px;
padding: 30px;
}
.person-name{
  padding:  20px 0px 20px 0px;
  font-size: 22px;
  color: #6f6a6a;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.waving-hand{
 margin-top: 20px;
 margin-left: 10px;
 color: rgb(71, 128, 213);
}
.intorduction-part{
  line-height: 1.5rem;
  font-family: 'Poppins', sans-serif,'Times New Roman', Times, serif ;
  font-size: 17px;
  color: #6f6a6a;
}

.highlight-text{
  color: black;
  font-weight: 600;
}
.two-btn{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  padding: 20px 0px 20px 0px;
}
.call-section{
  border: 1px solid black;
  padding: 15px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:  10px;
  width: 100%;
}
.book-btn{
  border: none;
  background: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.bg-btn:hover{
  background-color: rgb(14, 14, 48);
  transition: 0.6s ease-in-out;
}
.bg-btn{
  background-color:  rgb(113, 113, 245);
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}
.call-icon{
  font-size: 20px;
}
.font-copy{
  color: #6f6a6a;
}
.copy-bg{
  border-radius: 5px;
  background-color: #f0eaea;
  border: none;
  cursor: pointer;
}
/* icon-size */
.social-icon{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0px 20px 0px;
  gap: 30px;
  cursor: pointer;
}
.insta:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: 0.4s ease-in-out;
  color: rgb(113, 113, 245);
}
.insta{
  font-size: 35px;
  gap: 20px;
}
/*  Work experience page */
.work-experience{
  display: flex;

  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
 .show-work-container{
  border: 1px solid rgb(218, 216, 216);
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 25px 30px 25px;
  overflow-y: auto;
  scroll-behavior: smooth;
 }
 .font-size-title{
  color: #6f6a6a;
 }
 .my-experties-container{
  border: 1px solid rgb(218, 216, 216);
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 25px 30px 25px;
 }
/*  Project show css */
.project-show{ 
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  border: 1px solid rgb(218, 216, 216);
  width: 510px;
  height: 620px;
  background-color: #fff;
  border-radius: 5px;
}
.flex-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent-project-containerr{
  padding: 30px 25px 30px 35px;
}
.show-all-Project{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: blue;
  border-bottom: 1px solid  rgb(150, 146, 146);
  font-size: 17px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.show-all-Project:hover{
  color:rebeccapurple;
  transition: 0.6s;
}
/* show the recent project here */
.project-image{
  background: #ede7e7;
  border: 1px solid rgb(218, 216, 216);
  width: 400px;
  height: 260px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}
.company-logo{
  width: 40px;
  border-radius: 5px;
  background-color: #ede7e7;
}
.work-experience-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid rgb(218, 216, 216);
}
.company-info{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.company-title{
  font-size: 17px;
  font-weight: 600;
}
/*  check the color here */
.company-profile{
  color: #6f6a6a; 
}
/*  experties area css */
.language-size{
  width: 50px;
}
.language-logo{
  margin-top: 20px;
 border-radius: 5px;
 text-align: center;
 background-color: #f1ebeb;
 padding-top: 10px;
 cursor: pointer;
}
.language-logo:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: 0.6s ease-in-out;
} 
.show-experience-content{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap:  20px;
}
/* Recent Project css */
.ecommerce-size{
  width: 360px;
  height: 220px;
  border-radius: 5px ;
  border: 2px solid black;
  cursor: pointer;
}
/*  About section page css */
.about-border{
  border: 1px solid rgb(218, 216, 216);
  width: 100%;
  height: 650px;
  border-radius: 5px;
  background-color: #fff;
  padding:  30px  20px 30px 20px ;
}
.name-intro{
  font-size: 27px;
  font-weight: 600;
  color:  rgb(113, 113, 245);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.vedio-size{
  width: 30px;
}
.about-flex-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.available-flex{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(113, 113, 245);
  cursor: pointer;
}
.available-flex:hover{
  background-color: rgb(14, 14, 48) ;
  transition: 0.6s ease-in-out;
}
.available-font{
  font-size: 18px;
  color: #fff ;
}
.quote-text{
  width: 55%;
  padding-top: 20px;
}
.black-quote{
  font-weight: 600;
  color: rgb(10, 22, 52);
}
.experience-count-show{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.count-year{
  color: rgb(10, 22, 52);
}
.year-size-color{
  color: #6f6a6a;
  font-size: 15px;
}
.show-brand-title{
  padding-top: 30px;
}
.brand-title{
  color:rgb(10, 22, 52) ;
}
.brand-img{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.container-brand-img{
  border-radius: 5px ;
  background: #fefefe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: center;
  cursor: pointer;
}
/*  image size increament */
.image-size-padding{
   padding: 10px;
}
.no-img-icon{
  width: 60px;
}
/*  service  section page design */
.text-color{
  color: #898888;
}
.service-scroll{
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.services-item{
  background: #898888;
  padding: 40px 30px 40px 30px;
  border-radius: 2px;
}
.question-container {
  margin-top: 30px;
}
.question-color{
  color: rgb(10, 22, 52)  ;
}
/* frequentionly asked question ask */
.container-1{
  border: 1px solid rgb(218, 216, 216);
  padding: 20px;
  margin-top: 20px;
  border-radius: 2px;
  background: #e1dede;
}
.question-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plus-icon{
  font-size: 30px;
  font-weight: 600;
  color:rgb(113, 113, 245);
  cursor: pointer;
}
.answer-border{
  padding: 20px;
  background: #fff;
  border-radius: 2px;
}
.frequently-question-title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.frequntly-answer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #6f6a6a;
}
/*  project section -css */
.new-text-padding{
  padding: 10px 10px 10px 10px;
}
.add-scroll-bar{
  overflow-y: scroll;
  overscroll-behavior: smooth;
}
.project-font-size{
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.new-project-color{
  color: rgb(113, 113, 245);
}
.quote-size{
  font-size: 18px;
  color: #6f6a6a;
  line-height: 1.5rem;
}
.project-quote{
  padding: 10px 10px 20px 10px;
}
.project-img-border{
  border: 1px solid #6f6a6a;
  border-radius: 5px;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  background: #faf8f8;
}
.project-img-size{
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.project-flex{
  padding: 10px 0px 0px 0px;
}
.technology-border{
  margin-top: 10px;
border-radius: 5px;
  padding: 20px 0px 20px 5px;
  background-color: #fff;
}
a{
  text-decoration: none;
}
.project-title{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.technology{
  color: rgb(157, 134, 232) ;
}
/* blog section css */
.project-container-border-flex{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}
/*  blog post show container available here */
.project-border{
 border-radius: 5px;
 width: 450px;
 height: 300px;
}
/*  conatact us form css is here */
 .form-border{
  border-radius: 5px;
  background-color: #f6d2d2;
  padding: 30px;
 }
 .form-item-design{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 20px;
 }
 .input-width{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
 }
 .input-full-width{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  line-height: normal;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
 }
 .input-name{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .submit-btn-container{
  width: 100%;
  margin-top: 20px;
 }
.button-width{
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
  border: 2px;
}
.button-width:hover{
  background-color:rgb(113, 113, 245) ;
  color: #fff;
  transition: 0.6s ease-in-out; 
}
/*  media query for all device */
@media(max-width: 460px){
  .home-page{
    padding: 0px;
  }
  .nav-container{
    flex-direction: column;
    gap: 10px;
    transform: translate(-100%);
    position:  absolute;
    top: 60px;
    left: 0px;
    background: #fff;
    width: 150px;
    height:  auto;
    transition: transform 0.6s ease;
    z-index: 1000;
    border-radius: 2px;
  }
  .nav-container.active{
    transform: translate(0);
  }
  .hamburger-menu-bar{
    display: block;
  }
  .lets-talk{
    display: none;
  } 
  .nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-section{
    display: block;
  }
  .detail-border{
    display: block;
    margin-top: 20px;
  }
  .project-show{ 
    width: 400px;
  }
  .recent-project-containerr{
   padding: 10px;
  }
  .project-image{
    width:100%;
    padding: 20px;
  }
  .ecommerce-size{
    width: 100%;
  }
  .brand-img{
    grid-template-columns: repeat(3, 1fr);
  }
  .profile-border{
    width:  100%;
   
    margin-top: -20px;
  }
  .show-work-container{
    width: 100%;
   }
   .my-experties-container{
    width: 100%;
    padding: 15px;
   }
   .project-show{ 
    margin-top: 20px;
    width: 100%;
  }
   .profile-logo-size{
     margin-left: 40px;
   }
  .profile-img-upper{
    width: 100%;
    }
    .about-border{
     margin-top: 20px;
     padding: 10px;
     width: 100%;
    }
    .name-intro{
      font-size: 17px;
    }
    .available-flex{
     padding: 5px;
    }
    .quote-text{
     width: 100%;
    }
    .frequently-question-title{
      font-size: 18px;
    }
    .project-font-size{
     font-size: 25px;
    }
    .quote-size{
     font-size: 16px;
    }
    /*  nav condition value to show that are same product */
    .nav{
      gap: 10px;
    
    }
  }
  
  